<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Waste Management</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/forms.css">

</head>
<body>

<div class="container">
  <div class="title">Waste Management</div>
  <form action="#" method="POST" name="wastemanagement">

    <div class="user__details">
      <div class="input__box">
        <span class="details">Cost Per Capita</span>
        <input type="number" name="tc" placeholder="In euros" required style="border: 2px solid #454545;">
      </div>


      <div class="input__box">
        <span class="details">Region</span>
        <div class="select">
          <select name="region">
              <option>--Select--</option>
              <option>Lombardia</option>
              <option>Campania</option>
              <option>Emilia_Romagna</option>
              <option>Veneto</option>
              <option>Toscana</option>
              <option>Sicilia</option>
              <option>Lazio</option>
              <option>Friuli_Venezia_Giulia</option>
              <option>Liguria</option>
              <option>Calabria</option>
              <option>Trentino_Alto_Adige</option>
              <option>Abruzzo</option>
              <option>Puglia</option>
              <option>Sardegna</option>
              <option>piemonte</option>
              <option>Marche</option>
              <option>Molise</option>
              <option>Basilicata</option>
              <option>Umbria</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Area</span>
        <input type="number" name="area" placeholder="In Km.Square" required min="0"style="border: 2px solid #454545;">
      </div>

      <div class="input__box">
        <span class="details">Altitude</span>
        <input type="number" name="alt" placeholder="Alt. of your Locality" required min="0"style="border: 2px solid #454545;">
      </div>

      <div class="input__box">
        <span class="details">Population Density</span>
        <input type="number" name="pden" placeholder="In Your Municipal area" required min="0"style="border: 2px solid #454545;">
      </div>

      <div class="input__box">
        <span class="details">Waste Density</span>
        <input type="number" name="wden" placeholder="Average Waste per Square Km" required min="0"style="border: 2px solid #454545;">
      </div>

      <div class="input__box">
        <span class="details">Urbanization Index</span>
        <input type="number" name="urb" placeholder="1-Low, 3-High" required min="0"style="border: 2px solid #454545;">

      </div>



      <div class="input__box">
        <span class="details">Fee Scheme</span>
        <div class="select">
          <select name="fee">
              <option>--Select--</option>
              <option>STANDARD</option>
              <option>PAYT</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      
      <div class="input__box">
        <span class="details">Paper %</span>
        <input type="number" name="paper" placeholder="% of paper in your waste" required min="0"style="border: 2px solid #454545;">
      </div>

      <div class="input__box">
        <span class="details">Glass %</span>
        <input type="number" name="glass" placeholder="% of Glass in your waste" required min="0"style="border: 2px solid #454545;">
      </div>

      <div class="input__box">
        <span class="details">Wood %</span>
        <input type="number" name="wood" placeholder="% of Wood in your waste" required min="0"style="border: 2px solid #454545;">
      </div>
      
      <div class="input__box">
        <span class="details">Metal %</span>
        <input type="number" name="metal" placeholder="% of Metal in your waste" required min="0"style="border: 2px solid #454545;">
      </div>

      <div class="input__box">
        <span class="details">Plastic %</span>
        <input type="number" name="plastic" placeholder="% of Plastic in your waste" required min="0"style="border: 2px solid #454545;">
      </div>

      <div class="input__box">
        <span class="details">E-Waste %</span>
        <input type="number" name="raee" placeholder="% of E-waste in your waste" required min="0"style="border: 2px solid #454545;">
      </div>

      <div class="input__box">
        <span class="details">Textile %</span>
        <input type="number" name="texile" placeholder="% of Textile in your waste" required min="0"style="border: 2px solid #454545;">
      </div>

      <div class="input__box">
        <span class="details">other</span>
        <input type="number" name="other" placeholder="Waste other than mentioned above" required min="0"style="border: 2px solid #454545;">
      </div>

      <div class="input__box">
        <span class="details">Sorted Waste</span>
        <input type="number" name="sor" placeholder="% of Sorted waste" required min="0"style="border: 2px solid #454545;">
      </div>

      

    </div>
    <!-- <div class="gender__details">
      <input type="radio" name="gender" id="dot-1">
      <input type="radio" name="gender" id="dot-2">
      <input type="radio" name="gender" id="dot-3">
      <span class="gender__title">Gender</span>
      <div class="category">
        <label for="dot-1">
          <span class="dot one"></span>
          <span>Male</span>
        </label>
        <label for="dot-2">
          <span class="dot two"></span>
          <span>Female</span>
        </label>
        <label for="dot-3">
          <span class="dot three"></span>
          <span>Prefer not to say</span>
        </label>
      </div>
    </div> -->

    <div class="button">
    
        <input type="submit" value="Manage">
    

    </div>
  
  </form>

  <footer>
    <p class="footer__copy">&#169; 2023 Ekyamam. All right reserved</p>
  </footer>

  
</div>


  
</body>
</html>